* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main_contents {
  display: flex;
}

.contents {
  padding: 15px;
  flex-grow: 1;
}

nav {
  width: 200px;
  min-width: 200px;
  padding: 15px;
  background-color: #5980e3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  left: 0;
}

.nav_link {
  font-size: 22px;
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
}

.active_link {
  text-decoration: underline;
}

.countries_list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.country_card {
  width: 250px;
  height: 90px;
  background-color: #b0c3d9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0px rgba(66, 68, 90, 1);
  cursor: pointer;
  transition-duration: 0.2s;
}

.country_card:hover {
  background-color: #beccdb;
}

.country_card_title {
  margin-bottom: 5px;
}

.country_card_flag {
  margin-right: 7px;
}

.country_card_name {
  font-weight: bold;
}

.countries_filter {
  width: 100%;
  background-color: #a4b0bd;
  display: flex;
  gap: 15px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0px rgba(66, 68, 90, 1);
}

.chart_container {
  margin-bottom: 15px;
}

.cities_list {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.cities_item {
  background-color: #b0c3d9;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0px rgba(66, 68, 90, 1);
  cursor: pointer;
  transition-duration: 0.2s;
}

.cities_item:hover {
  background-color: #beccdb;
}

.search_bar {
  margin-bottom: 15px;
}
